@import 'minicss';

button {
  margin: 0;
  background-color: #4299E1;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(#000, .5);
  &:hover { background-color: #63B3ED; }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .Header + div {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.Header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a4365;
  color: rgba(#fff, 0.9);
  height: 50px;
  padding: 0 3px;
  box-shadow: 0 0 5px rgba(#000, 0.5);
  z-index: 1;
  .logo {
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: bold;
    color: inherit;
    h1 {
      font-size: inherit;
      margin: 0;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  a {
    padding: 0.5em 1.5em;
    color: inherit;
    border-radius: 3px;
  }
  a:hover {
    text-decoration: none;
    background-color: rgba(#fff, 0.1);
  }
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .gameLinks {
    display: grid;
    grid: auto / repeat(auto-fit, minmax(300px, 400px));
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
    a {
      display: block;
      padding: 40px 20px;
      border-radius: 4px;
      background-color: #4299e1;
      box-shadow: 0 0 5px rgba(#000, 0.5);
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
      &:hover {
        text-decoration: none;
        background-color: #3182ce;
      }
    }
    a.comingSoon {
      background-color: #CBD5E0;
      color: rgba(#000, 0.4);
      font-weight: normal;
    }
  }
}
